body {
  color: seashell;
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid seashell;
}
