body {
  color: seashell;
  background-color: black;
  font-family: Helvetica; sans-serif;
  font-size: 22px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid seashell;
  width: 100%;
}

nav a {
  color: seashell;
}

#logo img {
  height: 50px;
  padding-left: 10px;
}
